.newsFront{
    height: 390px;
    padding: 20px;
    box-shadow: 0px 0px 5px gray;
    overflow: hidden;
    margin: 20px 0px;
}
img{
    width: 100%;
}
.newsTitle{
    height: 100px;
}
.newsTitle h4{
    font-size: 18px;

}
.topNews{
    border-right: 1px solid brown;
    padding: 20px;
}
.top-News{
    margin-bottom: 20px;
}
